<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ztx.mapper.CustomerMapper">

    <select id="getAllCustomers" resultType="com.ztx.pojo.Customer">
        select * from customer
    </select>
    
    <resultMap id="customerMap" type="com.ztx.pojo.Customer">
        <id property="id" column="id"/>
        <result property="username" column="username"/>
        <collection property="orders" ofType="com.ztx.pojo.Order">
            <id property="id" column="order_id"/>
            <result property="orderNumber" column="order_number"/>
            <result property="customerId" column="customer_id"/>
        </collection>
    </resultMap>

    <select id="getAllCustomersWithOrders" resultMap="customerMap">
        select c.id,c.username,
               o.id,o.order_number,o.customer_id
               from customer c
               left join `order` o on c.id=o.customer_id
    </select>
</mapper>