<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ztx.mapper.UserMapper">

    <insert id="insert" useGeneratedKeys="true" keyColumn="id">
        insert into user (username,password)
               values(#{username},#{password})
    </insert>

    <update id="update">
        update user set username=#{username}, password=#{password}
        WHERE id=#{id}
    </update>

    <delete id="delete">
        delete from user where id=#{id}
    </delete>
    
    <select id="selectById" resultType="com.ztx.pojo.User">
        select id,username,password from user
               where id=#{id}
    </select>

    <select id="selectAll" resultType="com.ztx.pojo.User">
        select * from user
    </select>
    
</mapper>